$blue-gradient: linear-gradient(-45deg, #0072FF, #00C6FF);
$light-color: #F9FCFF;
$blue-color: #009CFF;
$shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.14);

html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  background-color: $light-color;
  color: $blue-color;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

h1, h2 {
  font-weight: 400;
}

p, button {
  font-size: 1rem;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1280px;
  width: 80%;
}

@media (max-width: 1024px) {
  .browser {
    display: none;
  }
}

.middle {
  padding-top: 3rem;
}

button {
  box-shadow: $shadow;
  background: $blue-gradient;
  color: $light-color;
  cursor: pointer;

  &.negative {
    color: $blue-color;
    background: $light-color;
  }

  border-radius: 3px;
  border: 0;
  appearance: none;

  min-width: 10rem;

  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 1.1rem;
}

.top {
  background: $blue-gradient;
  color: $light-color;

  .browser {
    width: 50%;
    height: 20%;
    margin-left: auto;
  }

  .intro, header {
    display: flex;
  }

  .intro {
    padding-top: 2rem;
    padding-bottom: 4rem;
  }

  article {
    margin: 0;
  }

  header {
    padding-top: 2rem;
    padding-bottom: 3rem;
    .logo {
      display: flex;
      img {
        width: 4rem;
        height: 4rem;
      }
      h1 {
        margin-left: 0.5rem;
      }
    }

    nav {
      margin-left: auto;
      ul {
        list-style-type: none;

        li {
          display: inline;
          margin: 1rem;

          a {
            color: $light-color;
            text-decoration: none;
          }
        }
      }
    }
  }

}
